@charset "UTF-8";
/*
Default color and font style 
*/
body {
  background: magenta; }

.wyl-description {
  background: black !important; }

/*Testimonial Section*/
.carosol-section {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important; }
  .carosol-section .blockquote {
    color: #2e3d49;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 2.25rem;
    padding: 0.625rem;
    margin-bottom: 1em; }
  .carosol-section .name p {
    color: #525c65;
    font-size: 16px; }
  .carosol-section .name h6 {
    color: #2e3d49;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px; }

#testimonial-nav-prev {
  -webkit-transform: rotateY(180deg) !important;
  transform: rotateY(180deg) !important; }

/*wty-full-section*/
.wty-full-section .col-md-6, .wty-full-section .col-md-7, .wty-full-section .col-md-5 {
  padding-right: 0;
  padding-left: 0; }

.wty-hader-title h4 {
  font-size: 2rem;
  font-weight: 300 !important; }

.wty-full-section .btn.btn-secondary {
  background-color: #7d97ad !important;
  -webkit-box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
          box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
  border: 0.125rem solid transparent;
  font-size: 0.8125rem;
  line-height: 2.625rem;
  padding: 0 3.5rem;
  letter-spacing: 3px; }

.wyl-middle-section.row {
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 0.375rem;
  overflow: hidden; }

.wyl-description {
  position: relative; }
  .wyl-description h6 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 15px;
    max-width: 150px;
    text-indent: 3.6rem;
    padding: 6px 0;
    text-transform: uppercase;
    background-image: -webkit-gradient(linear, left top, right top, from(#2791ec), to(#15ac19));
    background-image: linear-gradient(to right, #2791ec 0%, #15ac19 100%);
    position: relative; }
    .wyl-description h6::after {
      position: absolute;
      content: '';
      top: 0;
      width: 0;
      height: 0;
      right: -1rem;
      border-style: solid;
      border-width: 1.75rem 1rem 0 0;
      border-color: #15ac19 transparent transparent transparent; }
  .wyl-description h2 {
    color: #2e3d49;
    font-size: 1.75rem;
    font-weight: 300 !important;
    padding: 1.5rem 3.75rem; }
  .wyl-description p {
    color: #2e3d49;
    padding: 0 3.75rem;
    font-size: 0.9rem; }

.see-details-button {
  padding: .8rem 0;
  border-top: 1px solid #dbe2e8;
  width: calc(100% - 120px);
  margin: auto; }
  .see-details-button a {
    text-decoration: none;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    width: auto;
    border-bottom: none;
    color: #02b3e4;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: color 0.3s ease, background 0.3s ease;
    transition: color 0.3s ease, background 0.3s ease; }
    .see-details-button a:hover {
      text-decoration: none;
      color: #028bb1; }
  .see-details-button p {
    font-size: 0.8125rem;
    line-height: 1.5rem;
    color: #7d97ad !important; }

/* wyl-full section see details Left side container style */
.details-left-content {
  padding: 3.75rem; }
  .details-left-content p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #525c65;
    font-weight: 400; }

.sd-bottom li {
  padding-left: 3rem;
  min-height: 13.5rem; }

.sd-bottom ul li {
  width: 100%;
  position: relative;
  border-left: 1px solid #dbe2e8;
  min-height: auto;
  padding-bottom: 1rem;
  padding-left: 3rem;
  min-height: 13.5rem; }
  .sd-bottom ul li:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #02b3e4;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.sd-bottm-details {
  width: 100%;
  bottom: 0.67rem;
  position: relative;
  padding-bottom: 0.75rem; }

.sd-bottom .sd-header {
  margin-bottom: 0.75rem !important; }

/* wyl-full section see details Right side container style */
.sd-right-container {
  display: block;
  padding-top: 3.75rem;
  padding-right: 2.75rem; }
  .sd-right-container h6 {
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #7d97ad; }
  .sd-right-container i {
    font-size: 40px; }
  .sd-right-container > .sd-right-top {
    border-radius: 0.375rem;
    background-color: rgba(219, 226, 232, 0.2);
    padding: 3rem; }

.sd-right-bottom {
  text-align: left;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 0.375rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 15rem;
  border-top: 3px solid #15c26b;
  padding: 2.25rem; }
  .sd-right-bottom p, .sd-right-bottom h3 {
    color: #15c26b; }

/* Servicess Section Style */
.services-title h3 {
  font-size: 2.5rem;
  line-height: 64px;
  color: #2e3d49;
  padding: 0 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.services-title p {
  margin: auto;
  max-width: 500px;
  color: #2e3d49;
  padding: 0 2rem; }

/*Tab Style*/
.tab {
  padding-left: 6rem; }

#domain-tab .nav-item {
  position: relative;
  margin-bottom: 4rem; }
  #domain-tab .nav-item .tab-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ffa234;
    position: absolute;
    top: -40px;
    left: -40px; }
  #domain-tab .nav-item .tab-container {
    opacity: 0.5;
    cursor: pointer;
    height: 5.25rem;
    display: inline-block;
    width: 294px;
    border-radius: 8px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    color: #525c65; }
    #domain-tab .nav-item .tab-container:hover {
      opacity: 1; }
  #domain-tab .nav-item .active {
    background: linear-gradient(134deg, #2791ec 0%, #15ac19 100%);
    color: #fff;
    opacity: 1; }
  #domain-tab .nav-item .tab-title {
    margin: auto;
    padding: 1rem 0;
    max-width: 140px; }

/* Tab Top Content Style*/
.tab-content {
  display: block;
  margin-right: 1.69491525%;
  padding: 0 0 0 3.5rem;
  border-left: 1px solid #dbe2e8; }
  .tab-content .section-title {
    color: #ffa234; }
  .tab-content h4 {
    font-size: 1.5rem;
    font-weight: 400; }
  .tab-content span {
    font-size: 24px;
    border-bottom: 5px solid #ffa234; }

.tab-millde-content .width-half {
  width: 50%; }

/* Tab Bottom Content*/
.tab-buttom-content ul {
  padding: 2rem;
  max-width: 600px; }
  .tab-buttom-content ul li {
    line-height: 2.5em; }

.tab-buttom-content li::before {
  content: '• ';
  color: #ffa234;
  line-height: 2.25rem; }

/*Impact Section Style*/
.impact-section {
  padding: 0 5rem; }
  .impact-section .title {
    font-size: 2.5rem;
    line-height: 64px;
    color: #02b3e4;
    font-weight: 300; }
  .impact-section p {
    font-size: 1rem;
    line-height: 1.75rem; }
  .impact-section .circle {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 8.375rem;
    height: 8.375rem;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 4px 0 rgba(98, 209, 241, 0.3), 10px 10px 40px 0 rgba(98, 209, 241, 0.3), 0 2px 4px 0 rgba(98, 209, 241, 0.12), 0 4px 8px 0 rgba(245, 252, 254, 0.08);
            box-shadow: 0 0 4px 0 rgba(98, 209, 241, 0.3), 10px 10px 40px 0 rgba(98, 209, 241, 0.3), 0 2px 4px 0 rgba(98, 209, 241, 0.12), 0 4px 8px 0 rgba(245, 252, 254, 0.08); }
    .impact-section .circle p {
      color: #02b3e4;
      font-size: 1.5rem;
      font-weight: 300;
      padding-top: 8px; }
  .impact-section .is-details {
    width: 16.5rem; }
    .impact-section .is-details h6 {
      color: #11161a;
      font-size: 0.8125rem;
      line-height: 1.5rem; }
    .impact-section .is-details p {
      font-size: 1rem;
      line-height: 1.75rem;
      color: #2e3d49; }
  .impact-section .section-bottom-title {
    font-size: 0.75rem;
    padding-top: 1rem; }

.impact-left {
  width: 16.5rem;
  margin: auto; }

/* Application Process Section Start*/
.application-process {
  position: relative; }

.application-process-container .application-process-1:after {
  content: '';
  display: block;
  height: 1.875rem;
  width: 4.375rem;
  background: url("../img/icon/dot-left.svg") no-repeat center center;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 3rem auto;
  position: absolute;
  top: -15px;
  left: 82%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 40%; }

.application-process-container .application-process-2:after {
  content: '';
  display: block;
  height: 1.875rem;
  width: 4.375rem;
  background: url("../img/icon/dot-right.svg") no-repeat center center;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 3rem auto;
  position: absolute;
  top: -15px;
  left: 82%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 40%; }

.application-process-container .ap-number {
  height: 6rem;
  width: 6rem;
  font-size: 2.5rem;
  line-height: 4rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2); }

.ap-number p {
  margin-top: 1rem;
  font-weight: 300 !important; }

/*

****************************************************************************************************************
Trainer Section style Start

************************************************************************************************************** */
.testimonial-group {
  background: white; }

.scrollbar {
  background: #fff;
  overflow-x: scroll;
  margin-bottom: 2em; }

.scrollbar::-webkit-scrollbar {
  height: 0.6rem;
  background-color: #F5F5F5; }

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

/*
Every Story section Height
*/
.story-container {
  margin: 0 1.25rem 1.5rem 0; }

/*Full Story*/
.story {
  height: 25.5rem;
  border-top: 3px solid #02b3e4;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 0.375rem;
  padding: 0 1.5rem 3rem; }
  .story > img {
    margin-top: 0;
    margin-bottom: 0.375rem;
    top: -0.75rem;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
            box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15); }
  .story > .title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: #7d97ad;
    min-height: 2em; }
  .story > .description p {
    height: 12rem;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    line-height: 1.33rem;
    font-size: 0.8125rem; }

/* Instractor Image*/
/*Title*/
/*Description*/
/*

****************************************************************************************************************
Trainer Section style End

************************************************************************************************************** */
